body,
html {
  padding: 0;
  margin: 0;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: white;
}

/* Start of Navigation Menu */
.navigation {
  background-color: black;
  margin: auto;
  display: flex;
}

.navigation a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 12px;
  margin: 10px 0px;
  font-size: 14px;
  font-weight: 500;
}

.navigation a:hover:not(:first-child) {
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
  padding: 5px 12px;
  transition: background-color .3s ease;

}

.right-side-nav {
  position: absolute;
  right: 7%;
  top: 1px;
}

.left-side-nav {
  margin-left: 5%;
}

.left-side-nav a:not(:first-child) {
  margin-top: -5px;
}

#sign-up {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 8px 15px 10px 15px;
}

#sign-up:hover {
  background-color: gainsboro;
  border-radius: 20px;
  transition: background-color .3s ease;
}

#uber-logo {
  font-size: 24px;
  font-weight: 400;
}
/* End of Navigation Menu */

.content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 64px;

}

.cost-calculator {
  width: 45%;
}

h1 {
  text-align: left;
  font-size: 52px;
  font-weight: 650;
  line-height: 64px;
  width: 75%;
  margin-top: -10px;

}

.image img {
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}

#line {
  position: relative;
  height: 40px;
  border-left: 1px solid black;
  margin: 10px;
  margin: -15px 10px -15px 21px;
}

.pick-up-location {
  width: 60%;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}

input {
  all: unset;
  background-color: rgb(243, 243, 243);
}

.see-prices-button {
  all: unset;
  padding: 12px 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}

.see-prices-button:hover {
  background-color: grey;
  transition: background-color .3s ease;

}

.arrow {
  margin-left: 145px;
}
